*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    
}
body{
    display: flex;
    background-image: url(img/sign.jpg) ;
    background-position: center;
    align-items: center;
    top: 50%;
    position: relative;
    
}
.center{
    
    width: 350px;
    height: 250px;
    text-align: center;
    color: white;
    background-color: rgb(15, 61, 89);
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 30px;
    
}
.center h1{
    padding: 10px;
}
.name{
    padding: 15px;
}
 .name input{
    position: relative;
    width: 270px;
    text-align: center;
    border: none;
    padding: 5px ;
    color: black;
    border-radius: 20px;
}
.password input{
    position: relative;
    text-align: center;
    padding: 5px ;
    width: 270px;
    color: black;
    border-radius: 30px;
}

.pass{
    padding: 10px;
    color: white;
    font-size: 12px;

}
.center h1{
    color: white;
}
.button button{
    padding: 5px;
    border-radius: 15px;
    width: 30%;
    height: 50%;
    
   
}
.button{
    padding: 2px;
}
.button button:hover{
    background-color:wheat;
}
 
.pass a{
    font-size: small;
    color: paleturquoise;
}
.pass a:hover{
    color: navajowhite;
}
.pass{
    padding: 10px;
}